.bg-image-1{
    background-image: url('./images/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-2{
    background-image: url('./images/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-3{
    background-image: url('./images/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-4{
    background-image: url('./images/banner4.png');
    background-repeat: no-repeat;
    background-size: cover;
}